body{
  text-align: center;
  background-image: url('../assets/kevinandtrucly2.png');
  background-size: 100%;
}
h1.tenorsans{
  font-family: 'Tenor Sans', sans-serif;
  font-size: 6em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  color: #ffe066;
  text-shadow: 1.5px 1.5px #000000;
}
h1.date{
  font-family: 'Great Vibes', cursive;
  font-size: 6em;
  color: #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0em;
  text-shadow: 1.5px 1.5px #000000;
}
h2{
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  color: #ffe066;
  text-shadow: 1.5px 1.5px #000000;
}
/* ----------- Mobile ----------- */

@media (max-width: 800px){
    body{
      background-image: url('../assets/mobilebackground.jpg');
      background-size: 100%;
    }
}
